Django==6.0.6
cloudinary==1.44.2
dj-database-url==3.1.2
django-cloudinary-storage==0.3.0
gunicorn==26.0.0
Pillow==12.2.0
psycopg[binary]==3.3.4
python-dotenv==1.2.2
requests==2.34.2
whitenoise==6.12.0
